[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/simple-garbage-collectors"]
	path = external/simple-garbage-collectors
	url = git@github.com:dbgroup-nagoya-u/simple-garbage-collectors.git
	branch = main
